<div class="row">

  <div class="container mt-5" *ngIf="usuario">

    <div class="card" z>
      <div class="card-body">
        <h5 class="card-title">{{usuario?.firstName }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{ usuario?.lastName }}</h6>
        <p>More info:</p>
        <ul>
          <li>Email: {{ usuario?.email }} </li>
          <li>Birthday: {{ usuario?.birthdayDate | date:'dd/MM/yyyy' }} </li>
          <li>Education: {{ usuario?.birthdayDate | date:'dd/MM/yyyy' }} </li>
          <li>Escolaridade: {{ usuario?.education }} </li>
        </ul>
      </div>
    </div>
    <!-- <pre>
      {{ usuario | json }}
    </pre> -->
  </div>
</div>
